# Combining Dataframes

In [1]:
import pandas as pd

In [2]:
df_crime=pd.read_csv('Chicago_Crime_Data-v2.csv')
df_schools=pd.read_csv('Chicago_Public_Schools_-_Progress_Report_Cards__2011-2012-v3.csv')
df_census=pd.read_csv('Census_Data_-_Selected_socioeconomic_indicators_in_Chicago__2008___2012-v2.csv')

In [3]:
df_crime.head()

,ID,CASE_NUMBER,DATE,BLOCK,IUCR,PRIMARY_TYPE,DESCRIPTION,LOCATION_DESCRIPTION,ARREST,DOMESTIC,...,WARD,COMMUNITY_AREA_NUMBER,FBICODE,X_COORDINATE,Y_COORDINATE,YEAR,UPDATEDON,LATITUDE,LONGITUDE,LOCATION
0,3512276,HK587712,08/28/2004 05:50:56 PM,047XX S KEDZIE AVE,890,THEFT,FROM BUILDING,SMALL RETAIL STORE,False,False,...,14.0,58.0,6,1155838.0,1873050.0,2004,02/10/2018 03:50:01 PM,41.807441,-87.703956,"(41.8074405, -87.703955849)"
1,3406613,HK456306,06/26/2004 12:40:00 PM,009XX N CENTRAL PARK AVE,820,THEFT,$500 AND UNDER,OTHER,False,False,...,27.0,23.0,6,1152206.0,1906127.0,2004,02/28/2018 03:56:25 PM,41.898280,-87.716406,"(41.898279962, -87.716405505)"
2,8002131,HT233595,04/04/2011 05:45:00 AM,043XX S WABASH AVE,820,THEFT,$500 AND UNDER,NURSING HOME/RETIREMENT HOME,False,False,...,3.0,38.0,6,1177436.0,1876313.0,2011,02/10/2018 03:50:01 PM,41.815933,-87.624642,"(41.815933131, -87.624642127)"
3,7903289,HT133522,12/30/2010 04:30:00 PM,083XX S KINGSTON AVE,840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,...,7.0,46.0,6,1194622.0,1850125.0,2010,02/10/2018 03:50:01 PM,41.743665,-87.562463,"(41.743665322, -87.562462756)"
4,10402076,HZ138551,02/02/2016 07:30:00 PM,033XX W 66TH ST,820,THEFT,$500 AND UNDER,ALLEY,False,False,...,15.0,66.0,6,1155240.0,1860661.0,2016,02/10/2018 03:50:01 PM,41.773455,-87.706480,"(41.773455295, -87.706480471)"

In [15]:
df_schools.head()

,School ID,NAME_OF_SCHOOL,"Elementary, Middle, or High School",Street Address,City,State,ZIP Code,Phone Number,Link,Network Manager,...,Freshman on Track Rate %,X_COORDINATE,Y_COORDINATE,Latitude,Longitude,COMMUNITY_AREA_NUMBER,COMMUNITY_AREA_NAME,Ward,Police District,Location
0,610038,Abraham Lincoln Elementary School,ES,615 W Kemper Pl,Chicago,IL,60614,(773) 534-5720,http://schoolreports.cps.edu/SchoolProgressRep...,Fullerton Elementary Network,...,NDA,1171699.458,1915829.428,41.924497,-87.644522,7,LINCOLN PARK,43,18,"(41.92449696, -87.64452163)"
1,610281,Adam Clayton Powell Paideia Community Academy ...,ES,7511 S South Shore Dr,Chicago,IL,60649,(773) 535-6650,http://schoolreports.cps.edu/SchoolProgressRep...,Skyway Elementary Network,...,NDA,1196129.985,1856209.466,41.760324,-87.556736,43,SOUTH SHORE,7,4,"(41.76032435, -87.55673627)"
2,610185,Adlai E Stevenson Elementary School,ES,8010 S Kostner Ave,Chicago,IL,60652,(773) 535-2280,http://schoolreports.cps.edu/SchoolProgressRep...,Midway Elementary Network,...,NDA,1148427.165,1851012.215,41.747111,-87.731702,70,ASHBURN,13,8,"(41.74711093, -87.73170248)"
3,609993,Agustin Lara Elementary Academy,ES,4619 S Wolcott Ave,Chicago,IL,60609,(773) 535-4389,http://schoolreports.cps.edu/SchoolProgressRep...,Pershing Elementary Network,...,NDA,1164504.290,1873959.199,41.809757,-87.672145,61,NEW CITY,20,9,"(41.8097569, -87.6721446)"
4,610513,Air Force Academy High School,HS,3630 S Wells St,Chicago,IL,60609,(773) 535-1590,http://schoolreports.cps.edu/SchoolProgressRep...,Southwest Side High School Network,...,91.8,1175177.622,1880745.126,41.828146,-87.632794,34,ARMOUR SQUARE,11,9,"(41.82814609, -87.63279369)"

In [4]:
df_census.head()

,COMMUNITY_AREA_NUMBER,COMMUNITY_AREA_NAME,PERCENT OF HOUSING CROWDED,PERCENT HOUSEHOLDS BELOW POVERTY,PERCENT AGED 16+ UNEMPLOYED,PERCENT AGED 25+ WITHOUT HIGH SCHOOL DIPLOMA,PERCENT AGED UNDER 18 OR OVER 64,PER_CAPITA_INCOME,HARDSHIP_INDEX
0,1.0,Rogers Park,7.7,23.6,8.7,18.2,27.5,23939,39.0
1,2.0,West Ridge,7.8,17.2,8.8,20.8,38.5,23040,46.0
2,3.0,Uptown,3.8,24.0,8.9,11.8,22.2,35787,20.0
3,4.0,Lincoln Square,3.4,10.9,8.2,13.4,25.5,37524,17.0
4,5.0,North Center,0.3,7.5,5.2,4.5,26.2,57123,6.0

In [7]:
df_schools1=df_schools[df_schools['COMMUNITY_AREA_NUMBER']==1]
df_schools1=df_schools[df_schools['COMMUNITY_AREA_NUMBER']==2]

In [12]:
df_combined=pd.concat([df_schools1, df_schools2], keys=['CAN 1', 'CAN 2'])
df_combined

           School ID                                     NAME_OF_SCHOOL  \
CAN 1 150     609918                     Eugene Field Elementary School
      304     609865                 Jordan Elementary Community School
      317     610022                     Joyce Kilmer Elementary School
      399     610284                        New Field Elementary School
      464     609733                       Roger C Sullivan High School
      489     609933        Stephen F Gale Elementary Community Academy
CAN 2 97      609804                     Daniel Boone Elementary School
      107     609859                   DeWitt Clinton Elementary School
      184     609779  George Armstrong International Studies Element...
      382     610011             Minnie Mars Jamieson Elementary School
      435     610147                    Philip Rogers Elementary School
      488     609880        Stephen Decatur Classical Elementary School
      491     609724                       Stephen T Mather High School
      492     610191                Stone Elementary Scholastic Academy
      530     610542                       West Ridge Elementary School

          Elementary, Middle, or High School          Street Address     City  \
CAN 1 150                                 ES     7019 N Ashland Ave   Chicago
      304                                 ES     7414 N Wolcott Ave   Chicago
      317                                 ES   6700 N Greenview Ave   Chicago
      399                                 ES       1707 W Morse Ave   Chicago
      464                                 HS    6631 N Bosworth Ave   Chicago
      489                                 ES     1631 W Jonquil Ter   Chicago
CAN 2 97                                  ES   6710 N Washtenaw Ave   Chicago
      107                                 ES   6110 N Fairfield Ave   Chicago
      184                                 ES   2110 W Greenleaf Ave   Chicago
      382                                 ES       5650 N Mozart St   Chicago
      435                                 ES   7345 N Washtenaw Ave   Chicago
      488                                 ES  7030 N Sacramento Ave   Chicago
      491                                 HS     5835 N Lincoln Ave   Chicago
      492                                 ES      6239 N Leavitt St   Chicago
      530                                 ES      6700 N Whipple St   Chicago

          State  ZIP Code    Phone Number  \
CAN 1 150    IL     60626  (773) 534-2030
      304    IL     60626  (773) 534-2220
      317    IL     60626  (773) 534-2115
      399    IL     60626  (773) 534-2760
      464    IL     60626  (773) 534-2000
      489    IL     60626  (773) 534-2100
CAN 2 97     IL     60645  (773) 534-2160
      107    IL     60659  (773) 534-2025
      184    IL     60645  (773) 534-2150
      382    IL     60659  (773) 534-2395
      435    IL     60645  (773) 534-2125
      488    IL     60645  (773) 534-2201
      491    IL     60659  (773) 534-2350
      492    IL     60659  (773) 534-2045
      530    IL     60645  (773) 534-8250

                                                       Link   \
CAN 1 150  http://schoolreports.cps.edu/SchoolProgressRep...
      304  http://schoolreports.cps.edu/SchoolProgressRep...
      317  http://schoolreports.cps.edu/SchoolProgressRep...
      399  http://schoolreports.cps.edu/SchoolProgressRep...
      464  http://schoolreports.cps.edu/SchoolProgressRep...
      489  http://schoolreports.cps.edu/SchoolProgressRep...
CAN 2 97   http://schoolreports.cps.edu/SchoolProgressRep...
      107  http://schoolreports.cps.edu/SchoolProgressRep...
      184  http://schoolreports.cps.edu/SchoolProgressRep...
      382  http://schoolreports.cps.edu/SchoolProgressRep...
      435  http://schoolreports.cps.edu/SchoolProgressRep...
      488  http://schoolreports.cps.edu/SchoolProgressRep...
      491  http://schoolreports.cps.edu/SchoolProgressRep...
      492  http://schoolreports.cps.edu/SchoolProgressRep...
      530  http://schoolreports.cps.edu/SchoolProgressRep...

                                    Network Manager  ...  \
CAN 1 150       Ravenswood-Ridge Elementary Network  ...
      304       Ravenswood-Ridge Elementary Network  ...
      317       Ravenswood-Ridge Elementary Network  ...
      399       Ravenswood-Ridge Elementary Network  ...
      464  North-Northwest Side High School Network  ...
      489       Ravenswood-Ridge Elementary Network  ...
CAN 2 97        Ravenswood-Ridge Elementary Network  ...
      107       Ravenswood-Ridge Elementary Network  ...
      184       Ravenswood-Ridge Elementary Network  ...
      382       Ravenswood-Ridge Elementary Network  ...
      435       Ravenswood-Ridge Elementary Network  ...
      488       Ravenswood-Ridge Elementary Network  ...
      491  North-Northwest Side High School Network  ...
      492       Ravenswood-Ridge Elementary Network  ...
      530       Ravenswood-Ridge Elementary Network  ...

          Freshman on Track Rate % X_COORDINATE Y_COORDINATE   Latitude  \
CAN 1 150                      NDA  1164539.561  1946810.338  42.009665
      304                      NDA  1162385.224  1949501.716  42.017095
      317                      NDA  1165015.365  1944631.682  42.003676
      399                      NDA  1163673.054  1946078.682  42.007675
      464                     68.6  1164774.883  1944269.292  42.002687
      489                      NDA  1163959.517  1950960.205  42.021064
CAN 2 97                       NDA  1157068.657  1944483.472  42.003435
      107                      NDA  1156854.125  1940520.212  41.992564
      184                      NDA  1160591.979  1946966.544  42.010176
      382                      NDA  1156286.231  1937618.645  41.984614
      435                      NDA  1157132.164  1948795.474  42.015266
      488                      NDA  1155108.239  1946608.822  42.009307
      491                       59  1155766.152  1938701.409  41.987595
      492                      NDA  1160554.673  1941569.632  41.995368
      530                      NDA  1154772.178  1944306.386  42.002996

           Longitude COMMUNITY_AREA_NUMBER COMMUNITY_AREA_NAME  Ward  \
CAN 1 150 -87.669949                     1         ROGERS PARK    49
      304 -87.677799                     1         ROGERS PARK    49
      317 -87.668260                     1         ROGERS PARK    40
      399 -87.673158                     1         ROGERS PARK    49
      464 -87.669155                     1         ROGERS PARK    40
      489 -87.671965                     1         ROGERS PARK    49
CAN 2 97  -87.697500                     2          WEST RIDGE    50
      107 -87.698397                     2          WEST RIDGE    50
      184 -87.684469                     2          WEST RIDGE    50
      382 -87.700565                     2          WEST RIDGE    40
      435 -87.697149                     2          WEST RIDGE    50
      488 -87.704655                     2          WEST RIDGE    50
      491 -87.702449                     2          WEST RIDGE    40
      492 -87.684756                     2          WEST RIDGE    50
      530 -87.705954                     2          WEST RIDGE    50

          Police District                     Location
CAN 1 150              24  (42.00966462, -87.66994862)
      304              24  (42.01709536, -87.67779928)
      317              24  (42.00367622, -87.66826026)
      399              24  (42.00767533, -87.67315753)
      464              24  (42.00268694, -87.66915533)
      489              24  (42.02106425, -87.67196481)
CAN 2 97               24  (42.00343519, -87.69750011)
      107              24  (41.99256421, -87.69839748)
      184              24  (42.01017628, -87.68446868)
      382              20  (41.98461372, -87.70056525)
      435              24  (42.01526618, -87.69714858)
      488              24  (42.00930696, -87.70465502)
      491              20   (41.9875954, -87.70244871)
      492              24  (41.99536777, -87.68475636)
      530              24  (42.00299575, -87.70595357)

[15 rows x 78 columns]

In [14]:
df_combined.loc['CAN 2']

,School ID,NAME_OF_SCHOOL,"Elementary, Middle, or High School",Street Address,City,State,ZIP Code,Phone Number,Link,Network Manager,...,Freshman on Track Rate %,X_COORDINATE,Y_COORDINATE,Latitude,Longitude,COMMUNITY_AREA_NUMBER,COMMUNITY_AREA_NAME,Ward,Police District,Location
97,609804,Daniel Boone Elementary School,ES,6710 N Washtenaw Ave,Chicago,IL,60645,(773) 534-2160,http://schoolreports.cps.edu/SchoolProgressRep...,Ravenswood-Ridge Elementary Network,...,NDA,1157068.657,1944483.472,42.003435,-87.697500,2,WEST RIDGE,50,24,"(42.00343519, -87.69750011)"
107,609859,DeWitt Clinton Elementary School,ES,6110 N Fairfield Ave,Chicago,IL,60659,(773) 534-2025,http://schoolreports.cps.edu/SchoolProgressRep...,Ravenswood-Ridge Elementary Network,...,NDA,1156854.125,1940520.212,41.992564,-87.698397,2,WEST RIDGE,50,24,"(41.99256421, -87.69839748)"
184,609779,George Armstrong International Studies Element...,ES,2110 W Greenleaf Ave,Chicago,IL,60645,(773) 534-2150,http://schoolreports.cps.edu/SchoolProgressRep...,Ravenswood-Ridge Elementary Network,...,NDA,1160591.979,1946966.544,42.010176,-87.684469,2,WEST RIDGE,50,24,"(42.01017628, -87.68446868)"
382,610011,Minnie Mars Jamieson Elementary School,ES,5650 N Mozart St,Chicago,IL,60659,(773) 534-2395,http://schoolreports.cps.edu/SchoolProgressRep...,Ravenswood-Ridge Elementary Network,...,NDA,1156286.231,1937618.645,41.984614,-87.700565,2,WEST RIDGE,40,20,"(41.98461372, -87.70056525)"
435,610147,Philip Rogers Elementary School,ES,7345 N Washtenaw Ave,Chicago,IL,60645,(773) 534-2125,http://schoolreports.cps.edu/SchoolProgressRep...,Ravenswood-Ridge Elementary Network,...,NDA,1157132.164,1948795.474,42.015266,-87.697149,2,WEST RIDGE,50,24,"(42.01526618, -87.69714858)"
488,609880,Stephen Decatur Classical Elementary School,ES,7030 N Sacramento Ave,Chicago,IL,60645,(773) 534-2201,http://schoolreports.cps.edu/SchoolProgressRep...,Ravenswood-Ridge Elementary Network,...,NDA,1155108.239,1946608.822,42.009307,-87.704655,2,WEST RIDGE,50,24,"(42.00930696, -87.70465502)"
491,609724,Stephen T Mather High School,HS,5835 N Lincoln Ave,Chicago,IL,60659,(773) 534-2350,http://schoolreports.cps.edu/SchoolProgressRep...,North-Northwest Side High School Network,...,59,1155766.152,1938701.409,41.987595,-87.702449,2,WEST RIDGE,40,20,"(41.9875954, -87.70244871)"
492,610191,Stone Elementary Scholastic Academy,ES,6239 N Leavitt St,Chicago,IL,60659,(773) 534-2045,http://schoolreports.cps.edu/SchoolProgressRep...,Ravenswood-Ridge Elementary Network,...,NDA,1160554.673,1941569.632,41.995368,-87.684756,2,WEST RIDGE,50,24,"(41.99536777, -87.68475636)"
530,610542,West Ridge Elementary School,ES,6700 N Whipple St,Chicago,IL,60645,(773) 534-8250,http://schoolreports.cps.edu/SchoolProgressRep...,Ravenswood-Ridge Elementary Network,...,NDA,1154772.178,1944306.386,42.002996,-87.705954,2,WEST RIDGE,50,24,"(42.00299575, -87.70595357)"

In [15]:
df_schools1=df_schools[df_schools['COMMUNITY_AREA_NUMBER']==1][['NAME_OF_SCHOOL', 'COMMUNITY_AREA_NUMBER', 'COMMUNITY_AREA_NAME']]

In [16]:
df_schools1

,NAME_OF_SCHOOL,COMMUNITY_AREA_NUMBER,COMMUNITY_AREA_NAME
150,Eugene Field Elementary School,1,ROGERS PARK
304,Jordan Elementary Community School,1,ROGERS PARK
317,Joyce Kilmer Elementary School,1,ROGERS PARK
399,New Field Elementary School,1,ROGERS PARK
464,Roger C Sullivan High School,1,ROGERS PARK
489,Stephen F Gale Elementary Community Academy,1,ROGERS PARK

In [21]:
df_combined=pd.concat([df_schools1, df_schools2], join='inner', ignore_index=True)
df_combined

,NAME_OF_SCHOOL,COMMUNITY_AREA_NUMBER,COMMUNITY_AREA_NAME
0,Eugene Field Elementary School,1,ROGERS PARK
1,Jordan Elementary Community School,1,ROGERS PARK
2,Joyce Kilmer Elementary School,1,ROGERS PARK
3,New Field Elementary School,1,ROGERS PARK
4,Roger C Sullivan High School,1,ROGERS PARK
5,Stephen F Gale Elementary Community Academy,1,ROGERS PARK
6,Daniel Boone Elementary School,2,WEST RIDGE
7,DeWitt Clinton Elementary School,2,WEST RIDGE
8,George Armstrong International Studies Element...,2,WEST RIDGE
9,Minnie Mars Jamieson Elementary School,2,WEST RIDGE
10,Philip Rogers Elementary School,2,WEST RIDGE
11,Stephen Decatur Classical Elementary School,2,WEST RIDGE
12,Stephen T Mather High School,2,WEST RIDGE
13,Stone Elementary Scholastic Academy,2,WEST RIDGE
14,West Ridge Elementary School,2,WEST RIDGE

In [23]:
df_pov=df_census[['COMMUNITY_AREA_NUMBER', 'PERCENT HOUSEHOLDS BELOW POVERTY']]
df_pov.head()

   COMMUNITY_AREA_NUMBER  PERCENT HOUSEHOLDS BELOW POVERTY
0                    1.0                              23.6
1                    2.0                              17.2
2                    3.0                              24.0
3                    4.0                              10.9
4                    5.0                               7.5

In [35]:
df_merge1=pd.merge(df_pov, df_combined, on='COMMUNITY_AREA_NUMBER', how='left', indicator=True, validate='one_to_many')
df_merge1

,COMMUNITY_AREA_NUMBER,PERCENT HOUSEHOLDS BELOW POVERTY,NAME_OF_SCHOOL,COMMUNITY_AREA_NAME,_merge
0,1.0,23.6,Eugene Field Elementary School,ROGERS PARK,both
1,1.0,23.6,Jordan Elementary Community School,ROGERS PARK,both
2,1.0,23.6,Joyce Kilmer Elementary School,ROGERS PARK,both
3,1.0,23.6,New Field Elementary School,ROGERS PARK,both
4,1.0,23.6,Roger C Sullivan High School,ROGERS PARK,both
...,...,...,...,...,...
86,74.0,3.4,NaN,NaN,left_only
87,75.0,13.2,NaN,NaN,left_only
88,76.0,15.4,NaN,NaN,left_only
89,77.0,18.2,NaN,NaN,left_only
90,NaN,19.7,NaN,NaN,left_only